# 07. Transforming the data

Maybe the values are not in the correct units or data types. 
Or maybe there is some incorrect data.

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {'class': [1, 1, 1, 2, 2],
        'score': [10, 21, 35, 11, 26],
        'result': [0, 1, 0, 1, 0],
        'performance': ['strong', 'weak', 'normal', 'weak', 'strong']}
df = pd.DataFrame(data)
df

   class  score  result performance
0      1     10       0      strong
1      1     21       1        weak
2      1     35       0      normal
3      2     11       1        weak
4      2     26       0      strong

## Mapping
This function is for Series and we can use it to map an existing value of a Series to a different set of values.

In [4]:
df['pass or fail'] = df.result.map({0:'fail', 1:'pass'})
df

   class  score  result performance pass or fail
0      1     10       0      strong         fail
1      1     21       1        weak         pass
2      1     35       0      normal         fail
3      2     11       1        weak         pass
4      2     26       0      strong         fail

## Applying functions
 There are several ways in which we might do this: to individual elements, to entire columns, to entire rows, or to the entire DataFrame. There are two main functions that we can use for this: apply() and applymap().

In [5]:
# function 
def stand(x):
    mean=df.score.mean()
    std=df.score.std()
    y = (x-mean)/std
    return y

In [7]:
#apply it 
df['score standard']=df.score.apply(stand)
df

   class  score  result performance pass or fail  score standard
0      1     10       0      strong         fail       -1.009295
1      1     21       1        weak         pass        0.038087
2      1     35       0      normal         fail        1.371118
3      2     11       1        weak         pass       -0.914078
4      2     26       0      strong         fail        0.514169

In [10]:
# aplly on numerical column (or row if axis=1)
df_num =df.loc[:, ['class', 'result', 'score', 'score standard']]
df_num

   class  result  score  score standard
0      1       0     10       -1.009295
1      1       1     21        0.038087
2      1       0     35        1.371118
3      2       1     11       -0.914078
4      2       0     26        0.514169

In [12]:
df_num.apply(max, axis=0)

class              2.000000
result             1.000000
score             35.000000
score standard     1.371118
dtype: float64

In [14]:
# applymap() to all dataframe
df_num.applymap(lambda x: '$' + str(x))

  class result score        score standard
0    $1     $0   $10  $-1.0092949703936966
1    $1     $1   $21  $0.03808660265636577
2    $1     $0   $35   $1.3711176956291724
3    $2     $1   $11  $-0.9140784637527819
4    $2     $0   $26   $0.5141691358609396