# 01. Working with time-series data - Welcome

In [1]:
import pandas as pd
pd.to_datetime('13th of February, 2009')
#Timestamp('2009-02-13 00:00:00')
pd.to_datetime('02-13-2009')
#Timestamp('2009-02-13 00:00:00')
pd.to_datetime('Feb 13, 2009')
#Timestamp('2009-02-13 00:00:00'

Timestamp('2009-02-13 00:00:00')

In [2]:
pd.to_datetime('Feb 13, 2009 14:20:00')
#Timestamp('2009-02-13 14:20:00')

Timestamp('2009-02-13 14:20:00')

In [5]:
pd.to_datetime('now')

Timestamp('2021-05-21 14:01:54.777919')

In [8]:
pd.to_datetime('Feb 13, 2009 14:20:00').day_name()

'Friday'

In [9]:
date1 = pd.Timestamp('2018-03-03')
date2 = pd.Timestamp('1984-03-03')
date1-date2
#Timedelta('12418 days 00:00:00')

Timedelta('12418 days 00:00:00')

In [10]:
 pd.Timedelta(days=54, hours=3)
#Timedelta('54 days 03:00:00')

Timedelta('54 days 03:00:00')

In [11]:
date1 + pd.Timedelta(days=54, hours=3)
#Timestamp('2018-04-26 03:00:00')

Timestamp('2018-04-26 03:00:00')

In [13]:
jan2015 = pd.Period('2015-01')