# 08. Exercise: applying functions

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('data\cereal.csv')
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

1. Create a new column called Manufacturer which takes the entries in the column mfr and maps them to the full name

In [11]:
df['Manufacturer'] = df.mfr.map({'A' : 'American Home Food Products',
    'G' : 'General Mills',
    'K' : 'Kelloggs',
    'N' : 'Nabisco',
    'P' : 'Post',
    'Q' : 'Quaker Oats',
    'R' : 'Ralston Purina'})
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,Manufacturer
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,Nabisco
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,Quaker Oats
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,Kelloggs
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,Kelloggs
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,Ralston Purina

2. Calories can be converted to kilojoules using the following formula: 1 calorie = 4.184 kilojoules. Find for the amount of Kilojoules per serving for each cereal. Store the results in a new column.

In [12]:
# function 
def convert_calories_to_kilojoule(calorie):
    return calorie*4.184

In [14]:
df['kilojoules'] = df.calories.apply(convert_calories_to_kilojoule)
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,Manufacturer,kilojoules
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,Nabisco,292.88
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,Quaker Oats,502.08
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,Kelloggs,292.88
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,Kelloggs,209.20
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,Ralston Purina,460.24

3. For each numerical column, find the cereal that has the maximum value in that column.

In [17]:
# change index
df.set_index('name', inplace=True)
# get numerical data
df_num = df._get_numeric_data()
df_num.head()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,kilojoules
name,,,,,,,,,,,,,,
100% Bran,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,292.88
100% Natural Bran,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,502.08
All-Bran,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,292.88
All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,209.20
Almond Delight,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,460.24

In [21]:
df_num.apply(max, axis=0) # get the value of max
df_num.apply(np.argmax)

C:\Users\Bornatch\Anaconda3\envs\exts-ml\lib\site-packages\numpy\core\fromnumeric.py:51: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  return getattr(obj, method)(*args, **kwds)

calories             Mueslix Crispy Blend
protein                          Cheerios
fat                     100% Natural Bran
sodium                         Product 19
fiber           All-Bran with Extra Fiber
carbo                           Rice Chex
sugars                       Golden Crisp
potass          All-Bran with Extra Fiber
vitamins      Just Right Crunchy  Nuggets
shelf                           100% Bran
weight               Mueslix Crispy Blend
cups                                  Kix
rating          All-Bran with Extra Fiber
kilojoules           Mueslix Crispy Blend
dtype: object